.falling {
  opacity: 1;
  animation: drop 0.8s ease-out forwards;
  visibility: visible;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@keyframes drop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

