.falling {
  opacity: 1;
  animation: drop 0.8s ease-out forwards;
  visibility: visible;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@keyframes drop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.searchInput {
  width: 15vw;
  margin-top: 10px;
}

.searchInput :global(.ant-btn-variant-solid) {
  background-color: rgb(49, 49, 60) !important; /* 버튼 배경색 변경 */
  color: white !important; /* 텍스트 색상 */
  border-radius: 5px; /* 버튼 둥글게 */
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}
.buttonAntd {
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0.5px rgb(127, 125, 125);
  width: 210px;
}